{# templates/two_factor/_base.html #}
{% extends "controlloqualita/base.html" %}
{% load static %}

{# ---- <title> ---- #}
{% block title %}
  {% block tf_title %}{% endblock %} – {{ block.super }}
{% endblock %}

{# ---- media extra (widget-tweaks, qr svg, …) ---- #}
{% block extra_media %}
  {{ block.super }}
  {% block tf_media %}{% endblock %}
{% endblock %}

{# ---- contenuto centrato ---- #}
{% block content %}
  <div class="mx-auto my-4" style="max-width:460px;">
    {% block tf_content %}{% endblock %}
  </div>
{% endblock %}
